@media (max-width:1500px) {
    .wrapper {
        padding: 0 30px;
    }
}

@media (max-width:1400px) {
    header .list-center-menu {
        margin-left: 50px;
    }

}

@media (max-width:1024px) {
    .home-banner .sec-content {
        width: 100%;
        max-width: 590px;
    }

    .home-banner h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 15px;
    }

    .home-banner p {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    .home-banner .btn {
        font-size: 18px;
        font-weight: 400;
        width: 100%;
        max-width: 170px;
        height: 60px;
    }

    .home-banner .video .watch {
        font-size: 18px;
        font-weight: 400;
    }

    .btn-group {
        column-gap: 15px;
    }

    .home-banner .play {
        width: 40px;
        height: 40px;
    }

    .home-banner .play i {
        font-size: 18px;
    }

    .home-banner .box h5 {
        font-size: 14px;
    }

    .home-banner p {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 24px;
    }

    .home-banner .box .price span {
        color: var(--light-black);
        font-size: 16px;
    }

    .home-banner .box {
        column-gap: 12px;
        padding: 15px 15px 15px 15px;
    }

    .home-banner .box img {
        width: 60px;
        height: 60px;
        border-radius: 15px;
    }

    .home-banner .box .fa-solid {
        color: #FFE605;
        font-size: 12px;
    }

    .home-banner .box .fa-regular {
        color: #B0B4B7;
        font-size: 12px;
    }

    .categories .box-img {
        width: 135px;
        height: 135px;
    }

    .categories .box-img img {
        width: 90px;
        height: 90px;
    }

    .categories .categories-row {
        column-gap: 30px;
    }

    .categories-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .categories .categories-box h3 {
        font-size: 20px;

    }

    .categories .categories-box span {
        font-size: 16px;
    }

    .section-title {
        font-size: 32px;
    }

    .section-title-top {
        margin-bottom: 5px;
    }

    .dishes .section-title {
        max-width: 300px;
    }

    .dishes .dishes-box img {
        width: 100%;
        max-width: 200px;
        min-height: 200px;
        margin-bottom: 10px;
    }

    .dishes h3 {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .dishes .desc {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .dishes .price {
        font-size: 16px;
    }

    .dishes .price .doller {
        font-size: 20px;
    }

    .dishes .owl-nav button {
        width: 50px;
        height: 50px
    }

    .dishes .owl-nav button .fa-solid {
        font-size: 18px !important;
    }

    .dishes .dishes-col .leaf {
        width: 65px;
        height: 65px;
    }

    .dishes .dishes-col .leaf i {
        font-size: 18px;
    }
}


@media(max-width: 991px) {
    header .list-center-menu {
        display: none;
    }

    header .right-menu-list {
        display: none;
    }

    header .btn {
        display: none;
    }

    header .right-menu .btn-list:nth-child(-n + 2) {
        margin-right: 40px;
    }

    .fa-bars {
        font-size: 26px;
        display: initial;

    }

    .sec-row {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .sec-col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home-banner .sec-content {
        width: 100%;
        max-width: 426px;
    }

    .categories .categories-row {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    .categories .categories-col {
        width: 47%;
    }

    .dishes .owl-nav {
        display: none;
    }

    .dishes .section-title {
        margin-bottom: 20px;
    }

    .dishes .dishes-box {
        min-height: 410px;
    }

}

@media (max-width: 767px) {
    .dishes .section-title {
        max-width: 100%;
    }

    .dishes .sec-content {
        text-align: center;
    }
}

@media (max-width:480px) {

    section {
        padding-bottom: 55px;
    }

    .home-banner .review-box {
        margin-top: 0;
        margin-left: 0;
        column-gap: 10px;
    }

    .home-banner h1 {
        font-size: 30px;
    }

    .home-banner .sec-content {
        width: 100%;
        max-width: 100%;
    }

    .home-banner .btn {
        font-size: 16px;
        width: 100%;
        max-width: 150px;
        height: 48px;
    }

    .home-banner .video .watch {
        font-size: 16px;
    }

    /* .home-banner .box img {
        width: 45px;
        height: 45px;
    } */

    .home-banner .box {
        background: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        /* column-gap: 28px ; */
        row-gap: 10px;
        filter: drop-shadow(#00000036 7px 35px 51px);
        padding: 10px 10px 10px 10px;
        border-radius: 25px;
        flex-direction: column;
        text-align: center;
    }

    .categories .categories-col {
        width: 100%;
    }

    .section-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .section-title-top {
        margin-bottom: 5px;
    }
}